.naverbtn {
  padding: 15px;
  margin: 10px;
  display: inline-block;
  width: 240px;
  height: 50px;
  color: #fff;
  margin-top: 11px;
  background-color: #03C75A;
  border: 1px;
  border-radius: 2px;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  }

.naverbtn img {
  width: 25px;
  height: 25px;

}


